{% extends "layouts/base.html" %}

{% block title %}
<h1 class="text-center" "border border-primary">Detalhes da solicitação nº: {{ detalhes.pk }}</h1>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <table class="table">
            <tbody>
                <tr>
                    <td>Empresa</td>
                    <td>{{ detalhes.empresa }}</td>
                </tr>
                <tr>
                    <td>Solicitante</td>
                    <td>{{ detalhes.solicitante }}</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>{{ detalhes.data }}</td>
                </tr>
                <tr>
                    <td>Endereço de origem</td>
                    <td>{{ detalhes.endereco_origem }}</td>
                </tr>
                <tr>
                    <td>Contato de origem</td>
                    <td>{{ detalhes.contato_origem }}</td>
                </tr>
                <tr>
                    <td>Endereço de destino</td>
                    <td>{{ detalhes.endereco_destino }}</td>
                </tr>
                <tr>
                    <td>Contato de destino</td>
                    <td>{{ detalhes.contato_destino }}</td>
                </tr>
                <tr>
                    <td>Serviço</td>
                    <td>{{ detalhes.servico }}</td>
                </tr>
                <tr>
                    <td>Observações</td>
                    <td>{{ detalhes.observacoes }}</td>
                </tr>
            </tbody>
        </table>
        <button id="btn-edit-solicitacao" value="{{ detalhes.pk }}" type="button" class="btn btn-primary">Editar</button>
        <button id="btn-deletar-solicitacao" value="{{ detalhes.pk }}" type="button" class="btn btn-danger">Excluir
            solicitação</button>
    </div>


    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script>
        $("#btn-edit-solicitacao").click(function () {
            var id_editar_solicitacao = $(this).attr("value");
            window.location.pathname = "editar_solicitacao/" + id_editar_solicitacao;
        })

        $("#btn-deletar-solicitacao").click(function () {
            var id_deletar_solicitacao = $(this).attr("value");
            window.location.pathname = "deletar_solicitacao/" + id_deletar_solicitacao;
        })
    </script>

{% endblock content %}
